*{
	font-family: khmer os;
	margin:0px;
	padding:0px;

}


h3{
	font-size: 20px;
}
.backcolor{
	background-color:#2E3192;

}
.bcolor{
	background-color:#2680F9;
	box-shadow: 0px 2px 10px black;
}
hr{
border: 1px solid #fff;
}
.colortext{
	color: #2e3192;
}
.menu-resize{
	 padding-left:75px;
}
@media screen and (max-width: 1008px) {
}

.headerlogo{
	background-color:#FFFFFF;
	margin-top:20px;
}
i{
	color: #fff;
}
.nav-stacked li a:hover{
	background-color: #2680F9;
	box-shadow: 0px 3px 8px black;
}
.my-navbar{
	background-color:#2E3192;
	color:#FFFFFF;
	border:0px;
	border-radius:0px;
}
.panel-title a{
	font-size:14px;
}
a:hover{
	text-decoration:none;
}
.panel-title span:hover{
	color: #2680F9;

}
.right-bottom{
	padding-bottom: 20px;
}
.footer{
	background-color: #2E3192;
 	min-height:100px;
 	color:#FFFFFF;"
	margin: 0px;
	padding: 0px;
}

.titlehome{
	font-size:20px;
	cursor:pointer;
	color: #2e3192;
	font-weight: bold;
}
p{
    word-break: break-all;
}


/*using for scroll to top menu*/
#back-to-top{
	display: none;
	position: fixed;
	bottom: 15px;
	right: 15px;
	padding: 20px;
	opacity: 0.6;
	z-index: 9999;
}
#back-to-top:hover{
	opacity: 1;
}

/*close*/
/*submenu*/
.submenu{
	position: relative;
	display: none;
}
.nav-stacked li:hover .submenu{
	margin-left: 320px;
	position: absolute;
	display: block;
	list-style: none;
	background-color: grey;
	z-index: 1000;
}

.out span:hover{
	color:#2680F9;
	text-decoration:none;
}
span{
	color:#FFFFFF;
}
.tb-back{
	background-color: #2e3192;
	color: #fff;
}
.tr-back{
	background-color: #2680F9;
	color: #fff;
}
.i-color{
	color:#2e3192;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    max-height:450px;
    max-width:550px;
    position:absolute;
}
td{
	text-align: center;
}
.table-condensed{
	font-size: 14px;
}

.bold{
	font-weight: bold;
	text-align: center;
	background-color: #2e3192;
	color: white;
}
